<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/publish.css">
</head>
<body>
<!--插入navigation中的导航栏-->
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main" id="">
    <div class="row">
        <div class="col-sm-12 col-md-9 publish-left">
            <h3><span class="glyphicon glyphicon-plus"></span>发起</h3>
            <hr>
            <form action="/publish" method="post">
                <!--隐藏输入框，用于传递id-->
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题</label>
                    <input type="text" placeholder="问题标题" class="form-control" id="title" name="title" th:value="${title}">
                </div>
                <div class="form-group">
                    <label for="description">问题补充</label>
                    <textarea class="form-control" id="description" cols="30" rows="10" name="description"
                              placeholder="详细描述问题内容" th:text="${description}">
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签：</label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="输入标签，以‘，’分隔" th:value="${tag}">
                </div>
                <button type="submit" class="btn btn-success" id="btn_submit">提交</button>
            </form>
        </div>
        <div class="col-sm-12 col-md-3">
            <h3>问题发起指南</h3>
            <br>
            <label><span class="glyphicon glyphicon-triangle-right"></span>问题标题：</label><br>
            请用精简的语句描述您发布的问题，不超过25个字。<br>
            <label><span class="glyphicon glyphicon-triangle-right"></span>问题补充：</label><br>
            详细补充您的问题内容，并确保描述问题清晰直观，并提供一些相关的资料。<br>
            <label><span class="glyphicon glyphicon-triangle-right"></span>添加标签：</label><br>
            添加一个或多个标签，用逗号隔开，每个标签不超过10个字。<br>
        </div>
    </div>
</div>
</body>
</html>